<!-- INI FOOTER -->
<footer class="bg-light text-center text-lg-start">
  <style>
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022
    <a class="text-dark" style="text-decoration: none" href="https://instagram.com/rajaikhsan/?hl=id"
      >Raja Ikhsan Halomoan</a
    >
  </div>
  <!-- Copyright -->
</footer>
</html>